<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      .screenshot {
        display: inline-block;
        background-color: #ccc;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 5px;
        width: 480px;
        height: 384px;
        border: 1px solid #ccc;
        background-size: contain;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2 id="index">index</h2>
    <ul>
      <% examples.each do |example_hash, example| %>
        <li class="<%= background_by_status example.status %>"><a href="#<%= example_hash %>"><%= example.groups.join(" - ") %></a></li>
      <% end %>
    </ul>
    <hr>
    <h2>examples</h2>
    <% examples.each do |example_hash, example| %>
      <table id=<%= example_hash %> class="example table">
        <caption><%= example.groups.join(" - ") %>:<a href="#index">page top</a></caption>
        <% example.steps.each_with_index do |step, index| %>
          <% if example.steps.size - 1 == index %>
          <tr class="<%= background_by_status example.status %>">
          <% else %>
          <tr>
          <% end %>
          <td>
            <span class="screenshot" style="background-image: url('./<%= example_hash %>-<%= index %>.png')"></span><br>
            <a href="./<%= example_hash %>-<%= index %>.png">full image</a>|<a href="./<%= example_hash %>-<%= index %>.html">output html</a>
          </td>
          <td>
            <p><%= step %><p>
            <% if example.steps.size - 1 == index %>
            <% unless example.fail_info.nil? %>
              <p><%= example.fail_info.exception %></p>
              <ul>
                <% example.fail_info.backtraces.each do |backtrace| %>
                  <li><%= backtrace %></li>
                <% end %>
              </ul>
            <% end %>
            <% end %>
          </td>
          </tr>
        <% end %>
      </table>
      <hr>
    <% end %>
  </body>
</html>
