<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="#" title="<%= title %>">
          <span class="navbar-brand-left-color"><%= title %></span>
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h2 id="index">index</h2>
        <ul>
          <% examples.each do |example_hash, example| %>
            <li class="<%= background_by_status example.status %>"><a href="#<%= example_hash %>"><%= example.groups.join(" - ") %></a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2>examples</h2>
        <% examples.each do |example_hash, example| %>
          <h3 id=<%= example_hash %>><%= example.groups.join(" - ") %></h3>
          <% example.steps.each_with_index do |step, index| %>
            <div class="row <%= (example.steps.size - 1 == index)? background_by_status(example.status) : "" %>">
              <div class="col-md-5">
                <a href="./<%= example_hash %>-<%= index %>.png">
                  <img class="img-rounded" height="256" wedth="320" src="./<%= example_hash %>-<%= index %>.png">
                </a>
              </div>
              <div class="col-md-6">
                <p><%= step %><p>
                <% if example.steps.size - 1 == index %>
                  <% unless example.fail_info.nil? %>
                    <p><%= example.fail_info.exception %></p>
                    <ul>
                      <% example.fail_info.backtraces.each do |backtrace| %>
                        <li><%= backtrace %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            </div><!-- row -->
          <% end %>
          <hr />
        <% end %>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
